*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Cairo', sans-serif;
}

:root{
--shadow-grey: #161925ff;
--twilight-indigo: #23395bff;
--rich-cerulean: #406e8eff;
--eggshell: #eeebd3ff;
--white: #fbfffeff;
--black: #070707ff;
--flag-red: #c1292eff;
--bright-gold: #f1d302ff;
--sky-blue: #90c2e7ff;
--sky-bzffglue: rgb(49, 62, 70);
--flhxhxag-red: rgb(255, 0, 0);
}

body{
    background-color: var(--eggshell);
    text-align: right;
    
}

.logo h1 {
    color: var(--bright-gold);
   
    -webkit-text-stroke: 1px var(--white);
    font-size: 50px;

}

.navlinks {
    list-style: none;
    display: flex;
    gap: 50px;
    outline: 2px solid var(--eggshell);
    outline-offset: 18px;
    border-radius: 10px;
}

.navlinks a{
    text-decoration: none;
    color: var(--bright-gold);
    font-size: 20px;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--flag-red);
    /* لتثبيت الشريط مكانه */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main h1{
    font-size: 70px;
    color: var(--black);
    padding: 0px 20px 0 0;
}
.main p{
    padding: 0 20px 5px 20px;
    color: var(--flag-red);
    font-size: 20px;
}
.main{
        display: flex;
    align-items: center;
    justify-content: space-around;
    outline: 4px solid
    var(--flag-red);
    margin: 0 100px  0 100px;
    outline-offset:  20px;
    
    

}

.main img{
    width: 600px;
    margin:25px 0 0 0;

}

.main .text{
    outline: 2px solid var(--black);
    border-radius: 5px;
    outline-offset: 10px;
    margin: 20px 0 0 0;
}

.asnaf{
        font-size: 50px;
    color: var(--black);
    text-align: center;
}

.labna h1{ 
    font-size: 30px;
    color: var(--sky-bzffglue);

}
.labna p{
    font-size: 20px;
    color: var(--black);
    

}
.labna .spichl{
    color: var(--flhxhxag-red);
    font-size: 25px;
}

.labna .text{
        outline: 2px solid var(--sky-bzffglue);
    border-radius: 5px;
    outline-offset: 10px;
    padding: 0 20px 20px 20px;

}

.labna img {
    width: 500px; 
    margin: 30px 0 0 0 ;

}
.labna {
    display: flex;
    align-items: center;
    justify-content: space-around;
       
}

.z3tr h1{ 
    font-size: 30px;
    color: var(--sky-bzffglue);

 }
 .z3tr p{
 font-size: 20px;
color: var(--black);


 }
 .z3tr .spichl{
 color: var(--flhxhxag-red);
 font-size: 25px;
 }

 .z3tr .text{
 outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 padding: 0 20px 20px 20px;

 }

 .z3tr img {
    width: 450px; 
    margin: 30px 0 0 0 ;
 }
 .z3tr {
 display: flex;
 align-items: center;
 justify-content: space-around;

}
.jbna h1{ 
    font-size: 30px;
    color: var(--sky-bzffglue);

 }
 .jbna p{
 font-size: 20px;
color: var(--black);


 }
 .jbna .spichl{
 color: var(--flhxhxag-red);
 font-size: 25px;
 }

 .jbna .text{
 outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 padding: 0 20px 20px 20px;

 }

 .jbna img {
width: 500px; 
    margin: 30px 0 0 0 ;
 }
 .jbna {
 display: flex;
 align-items: center;
 justify-content: space-around;

}

.mkdos h1{ 
    font-size: 30px;
    color: var(--sky-bzffglue);

 }
 .mkdos p{
 font-size: 20px;
color: var(--black);


 }
 .mkdos .spichl{
 color: var(--flhxhxag-red);
 font-size: 25px;
 }

 .mkdos .text{
 outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 padding: 0 20px 20px 20px;

 }

 .mkdos img {
width: 450px; 
    margin: 30px 0 0 0 ; 

 }
 .mkdos {
 display: flex;
 align-items: center;
 justify-content: space-around;

}
.border{
    outline: 3px solid
    var(--black);
    margin: 0 100px  0 100px;
    outline-offset:  40px;
    border-radius: 30px;

} 
.about h1{
    font-size: 70px ;
    color: var(--black);
    padding: 0 20px 0 0;
}

.about .gg {
    font-size: 20px;
    color: var(--flhxhxag-red);
    padding: 0 20px 0 0;
}
.border2 {
    outline: 3px solid
    var(--black);
    margin: 0 100px  0 100px;
    outline-offset:  40px;
    border-radius: 30px;
}

.jad{
    display: flex;
 align-items: top;
 justify-content: space-around;
 border: 1px solid var(--flag-red);
}
.jad img{
    width: 300px;
    
    
}

.yaman {
    display: flex;
 align-items: top;
 justify-content: space-around;
 border: 1px solid var(--flag-red);

}

.yaman img{
    width: 300px;

}
.y {
 color: var(--black);
font-size: 20px;
padding: 0 20px 0 20px;
border-right:10px solid var(--flag-red);
}

.j {
    color: var(--black);
font-size: 20px;
padding: 0 20px 0 20px;
border-right:10px solid var(--flag-red);
}
.border3 {
    outline: 3px solid
    var(--black);
    margin: 0 100px  0 100px;
    outline-offset:  40px;
    border-radius: 30px;
}
.contact{
    text-align: center;
}

.contact h1{
    font-size: 70px ;
    color: var(--black);
    padding: 0 20px 0 0;

}
.contact .hi{

    font-size: 30px ;
    color: var(--flag-red);
    padding: 0 20px 0 0;
    
}

.why h2{
     font-size: 50px ;
    color: var(--sky-bzffglue);

}

.why p{
    font-size: 30px;
    color: var(--flag-red);
}

.why{
    outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 margin: 0 250px 0 250px;
}

.why2{
    outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 margin:0 150px 0 150px  ;
}

.why3{
    outline: 2px solid var(--sky-bzffglue);
 border-radius: 5px;
 outline-offset: 10px;
 margin: 0 250px 0 250px;
}

.why2 h2{
     font-size: 50px ;
    color: var(--sky-bzffglue);

}

.why2 p{
    font-size: 30px;
    color: var(--flag-red);
}

.why3 h2{
     font-size: 50px ;
    color: var(--sky-bzffglue);

}

.contact .pls{

    font-size: 30px ;
    color: var(--black);
    padding: 0 20px 0 0;}

    .cont p{
            font-size: 20px;
    color: var(--flag-red);

    }

    .cont a{
        text-decoration: none;
        color: var(--flhxhxag-red);
    }

    h5{
        font-size: 50px ;
    color: var(--flag-red);
    }

    li {
        list-style: none;
    }
